.container{
    margin-top: 10%;
}
.leftBtn{
    margin: 4px;
    float: left;
}
.rightBtn{
    margin: 4px;
    float: right;
}
.add-note-btn {
    opacity: 1;
    display: block;
    position: fixed;
    right: 20px;
    bottom: 20px;
}