<mat-card class="mt-3 mat-typography">
	<mat-card-content>
		<mat-card-title>Login</mat-card-title>
		<mat-card-subtitle>Enter Email and Password</mat-card-subtitle>
		<form #loginForm="ngForm" (ngSubmit)="onSubmitHandler()">
			<mat-form-field appearance="standard" class="input-fields" hideRequiredMarker>
				<mat-label>Email</mat-label>
				<input
					matInput
					[(ngModel)]='user.email'
					#email="ngModel"
					name="email"
					required
					placeholder="Enter Email">
				<mat-error [class.d-none]="email.untouched || email.valid">This is a required field</mat-error>
			</mat-form-field>
			<mat-form-field appearance="standard" class="input-fields" hideRequiredMarker>
				<mat-label>Password</mat-label>
				<input
					matInput
					[(ngModel)] = 'user.passwd'
					#password="ngModel"
					[type]="hidePass ? 'password' : 'text'"
					name="passwd"
					minlength="6"
					required
					placeholder="Enter Password"
				/>
				<button
					mat-icon-button
					matSuffix
					(click)="hidePass = !hidePass"
					[attr.aria-label]="'Hide Password'"
					[attr.aria-passed]="hidePass"
				>
					<mat-icon>{{ hidePass ? 'visibility_off' : 'visibility' }}</mat-icon>
				</button>
				<mat-error>This is a required field</mat-error>
			</mat-form-field>
			<button mat-raised-button color="primary" type="submit" class="btn-block">
				Login
			</button>
			<mat-error *ngIf="display">Please check your email and password and try again.</mat-error>
			<mat-card-subtitle class="mt-2"
				><a routerLink="/register">New User? Click Here</a></mat-card-subtitle
			>
		</form>
	</mat-card-content>
</mat-card>