button {
    display: none;
    margin: 2px;
    opacity: .6;
}
button:hover {
    opacity: 1;
}
mat-card:hover button{
    display: block;
    transition: 0.4s;
}


.add-note-btn {
    opacity: 1;
    display: block;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.wrap{
    word-wrap: break-word;
}
.search{
    margin: 10px;
    background-color: white;
    border: 2px solid rgb(236, 236, 236);
    border-radius: 10px 10px;
    box-shadow: 7px 5px rgba(159, 156, 156, 0.382);
    float: right;
    position: sticky;
    /* right:70% ; */
    z-index: 1;

}
.search mat-list-option{
    border-radius: 10px 10px;
}
.m-2{
    border-radius: 10px 10px;
    box-shadow: 7px 5px rgba(137, 137, 137, 0.2);
}