<mat-card class="container mt-4">
	<form #noteForm="ngForm" (ngSubmit)="onSubmitHandler()">
		<mat-form-field
			class="input-fields"
			hideRequiredMarker
			class="form-full-width"
			floatLabel="always"
		>
			<mat-label for="Note Subject" class="h5">Note Title</mat-label>
			<input
				type="text"
				cdkTextareaAutosize
				class="form-control"
				name="title"
				matInput
				ngModel
				#title="ngModel"
				required
				[(ngModel)]="note.title"
			/>
		</mat-form-field>

		<mat-form-field hideRequiredMarker class="form-full-width" floatLabel="always">
			<mat-label for="Note Suject" class="h5">Note Category</mat-label>
			<input
				type="text"
				cdkTextareaAutosize
				class="form-control"
				name="cat"
				matInput
				ngModel
				#cat="ngModel"
				required
				[(ngModel)]="note.cat"
			/>
		</mat-form-field>

		<mat-form-field class="form-full-width" hideRequiredMarker floatLabel="always">
			<mat-label for="Note Text" class="h5">Content</mat-label>
			<textarea
				name=""
				id=""
				cdkTextareaAutosize
				style="min-height: 100px"
				name="content"
				matInput
				ngModel
				#content="ngModel"
				required
				[(ngModel)]="note.content"
			></textarea>
		</mat-form-field>
			<button
				type="submit"
				mat-raised-button
				color="primary"
				class="btn-block center mb-2"
				[disabled]="noteForm.invalid"
			>
				Submit
			</button>

	</form>
		<button mat-raised-button color="primary" class="btn-block center" (click)="closeDialog()">Close</button>

</mat-card>
