.container {
    align-self: center;
    margin: 20px;
}
mat-card{
width: 40%;
align-items: right;
box-shadow: 10px 10px black;
}

.d-flex.flex-row button{
    margin: 10px;
    text-align: center;
    padding: auto;
}